/* Adicione a classe 'concluida' para destacar visualmente as tarefas concluídas */
.list-group-item.concluida {
    background-color: #d4edda;
    color: #155724;
    text-decoration: line-through;
  }
  
/* Adicione estilos para quebrar a linha antes dos botões se o conteúdo for muito grande */
.list-group-item {
  white-space: normal; /* Define quebra de linha automática para o conteúdo do item da lista */
}
