<app-navbar [receivedString]="listas[listaAtivaIndex]?.nome || 'Nenhuma lista'"></app-navbar>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Minhas listas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div class="input-group mb-3">
            <input type="text" class="form-control" (keyup.enter)="adicionarLista()" [(ngModel)]="novaListaNome"
              placeholder="Nova lista">
            <div class="input-group-append">
              <button class="btn btn-success" (click)="adicionarLista()">Adicionar Lista</button>
            </div>
          </div>

          <div class="list-group">
            <button *ngFor="let lista of listas; let i = index" type="button"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
              [class.active]="i === listaAtivaIndex" (click)="selecionarLista(i)">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  {{ lista.nome }}
                </div>
              </div>
              <button class="btn btn-danger btn-sm ms-1" (click)="removerLista(i)">
                <i class="fa fa-trash"></i>
              </button>
            </button>
          </div>            
        </div>
      </div>



      <div class="input-group mb-3">
        <input type="text" class="form-control" (keyup.enter)="adicionarTarefa()" [(ngModel)]="novaTarefa"
          placeholder="Nova tarefa">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="adicionarTarefa()">Adicionar Tarefa</button>
        </div>
      </div>
      <ul class="list-group">
        <li *ngFor="let tarefa of listas[listaAtivaIndex]?.itens; let i = index" class="list-group-item"
            [class.concluida]="tarefa.concluida">
          <div class="d-flex justify-content-between align-items-center">
            <div class="flex-grow-1">
              <span>{{ tarefa.nome }}</span>
            </div>
            <div *ngIf="!tarefa.concluida" class="d-flex">
              <button class="btn btn-success btn-sm me-1" (click)="concluirTarefa(i)">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="removerTarefa(i)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>      
      <div *ngIf="listas.length === 0" class="alert alert-warning" role="alert">
        Nenhuma lista criada. Por favor, crie uma lista antes de adicionar tarefas.
      </div>
    </div>
  </div>
</div>