<header class="navbar bg-primary">
    <div class="container">
        <div class="col-md-6 offset-md-3">

            <div class="">
                <div class="d-flex justify-content-between">
                    <button class="align-baseline btn btn-primary rounded-circle" data-bs-toggle="offcanvas"
                        href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <span class="fa fa-bars fs-5"></span>
                    </button>

                    <span class="h4 text-white">{{receivedString}}</span>

                    <button class="align-baseline btn btn-primary rounded-circle" disabled>
                        <span class="fa fa-bars fs-5 text-primary"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>