<header class="navbar bg-primary">
    <div class="container">
        <div class="col-md-6 offset-md-3">

            <div class="">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                        aria-controls="offcanvasExample">
                        <span class="align-text-bottom fa fa-list-ul fs-5"></span>
                    </button>
                    
                        <span class="align-self-center fs-4 fw-medium text-white">{{receivedString}}</span>

                    <button class="btn btn-primary rounded-circle" disabled>
                        <span class="fa fa-bars fs-5 text-primary"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>